<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="./css/styles.css">


</head>

<body background="./img/bw.jpg">
    {{!-- comes from header.hbs (partial) --}}

    <div class="main-content">
        {{>header}}
        <p>{{errorMessage}}</p> 
    </div>
    
    {{>footer}}

</body>
</html>