<!DOCTYPE html>

<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    {{!-- comes from header.hbs (partial) --}}
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="img/steinsgate.jpg">
    </div>
    

    {{>footer}}

</body>
</html>