<!DOCTYPE html>

<html>
<head>
    <title>About me</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./css/style2.css"> 
    <style>
        p a {
            margin-right: 0px;
        }
        img {
           float: left;
            }
    </style>
</head>

<body background="./img/bw.jpg" >
    {{!-- comes from header.hbs (partial) --}}
       {{>header}}
    <div class="container">
        <p><img src="img/RajPathare.jpg" alt="Pineapple" style="width:170px;height:170px;margin-right:15px;">
What's up dear visiter. I'm Raj Pathare, an IT student who spends his most of the time surfing on the web for finding something unusual. Glad to see you here!

Currently, I'm working as an Associate Software Developer at Reliance Jio. I've done my Bacherlor's of Engineering in Information Technology from D.Y. Patil University. My journey as a developer started since I joined my college. Web Development was the first thing that crossed my mind. I took some online courses and started working on android later on.

I love playing video games in my free time. I was always intrigued about how such cool games are really made. I've been working on Unity (a game engine) for 2 years.

Ping me up if you want to know more! 

You can find me on <a href="https://www.linkedin.com/in/rajpathare/" style="color:gray">Linkedin</a> or <a href="https://github.com/RajPathare/" style="color:gray">Github</a> Thank you.</p>
        
    </div>

    {{>footer}}

</body>
</html>