<!DOCTYPE html>

<html>
<head>
    <title>Help</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    {{!-- comes from header.hbs (partial) --}}

    <div class="main-content">
        {{>header}}  
        <p>{{title}}</p>
    </div>
    

    {{!-- comes from footer.hbs (partial) --}}
    {{>footer}}


</body>
</html>