<!DOCTYPE html>

<html>
<body>
<head>
    <title>Weather</title>
    <link rel="shortcut icon" href="/web-server/public/img/weather2.png" type="image/x-icon" />
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    {{!-- comes from header.hbs (partial) --}}

    <div class="main-content">
        {{>header}}
        <p>Use this site to get your weather!</p>
        <p>Type in a random location to try it out!!</p>
        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>

        <p id="message-one"></p>
        <p id="message-two"></p>
        <p id="week-message"></p>
        <p id="week-message1"></p>
        <p id="week-message2"></p>
        <p id="week-message3"></p>
        <p id="week-message4"></p>
        <p id="week-message5"></p>
        <p id="week-message6"></p>

    

    </div>

    
     

        {{>footer}}

    <script src="js/app.js"></script>
        

</body>
</html>







