{{!-- title comes from app.js --}}

<header>
     <div class="container">
       <div class="jumbotron">
         <h1>{{title}}</h1>     
         <a href="/">Weather</a>
         <a href="/about">About me</a>
         <a href="/help">Working</a>
       </div>
     </div>
  
</header>


{{!-- <p>Resize this responsive page to see the effect!</p> --}}